MONGO_URL=

CLIENT_URL=

# redis url
UPSTASH_REDIS_URL=

# jwt
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=

NODE_ENV=development

API_KEY=

# cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_WHATSAPP_NUMBER=your_twilio_whatsapp_number

# mailersend
MAILERSEND_API_KEY=