@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 142 84% 45%;
    
    --card: 0 0% 4%;
    --card-foreground: 142 84% 45%;
 
    --popover: 0 0% 4%;
    --popover-foreground: 142 84% 45%;
 
    --primary: 142 84% 45%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 142 84% 5%;
    --secondary-foreground: 142 84% 45%;
 
    --muted: 0 0% 14%;
    --muted-foreground: 142 84% 38%;
 
    --accent: 142 84% 8%;
    --accent-foreground: 142 84% 45%;
 
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 142 84% 15%;
    --input: 142 84% 15%;
    --ring: 142 84% 45%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}